* {
  color: white;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCollumn {
  display: flex;
  flex-direction: column;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.itemAlignCenter {
  display: flex;
  align-items: center;
}

nav {
  background-color: black;
  padding: 20px 250px;
  display: flex;
  align-items: center;
}
nav .sandwich {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
@media screen and (min-width: 1475px) {
  nav div.sandwich {
    display: none;
  }
}
nav .shopCategories {
  width: 650px;
  display: flex;
  align-items: center;
}
nav .shopCategories h2 {
  margin: 10px;
  color: #fff;
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  letter-spacing: -0.5px;
}
nav .shopCategories svg {
  margin-right: 2%;
}
@media screen and (max-width: 1475px) {
  nav {
    padding: 20px 30px;
  }
  nav div.shopCategories {
    display: none;
  }
  nav svg.heart {
    display: none;
  }
}
nav .userNav {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .userNav .icons {
  margin-right: 24px;
}
nav .userNav .icons .shoppingCart p {
  color: #fff;
  text-align: center;
  font-family: Ubuntu;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 10px */
  letter-spacing: -0.25px;
}
nav .userNav .icons svg {
  width: 30px;
  height: 30px;
  margin: 12px;
}
nav .userNav .userProf {
  display: flex;
  align-items: center;
}
nav .userNav .userProf img {
  width: 50px;
  height: 50px;
  background-size: contain;
  border-radius: 100%;
  border: 1px solid #cdcdcd;
  margin-right: 12px;
}
nav .userNav .userProf .userDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
nav .userNav .userProf .userDetails h3 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.4px;
}
nav .userNav .userProf .userDetails h4 {
  color: #5f5f5f;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.4px;
}
@media screen and (max-width: 1475px) {
  nav .userNav .userProf div.userDetails {
    display: none;
  }
}

header {
  background-color: black;
  padding: 0 0 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  flex-wrap: wrap;
}
header .beExtraText {
  width: 676px;
  height: 104px;
  grid-column-start: 1;
  grid-row: 3/6;
}
header .beExtraText h1 {
  color: #5f5f5f;
  font-family: Ubuntu;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 36px */
  letter-spacing: -0.9px;
}
header .beExtraText h2 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 72px */
  letter-spacing: -1.8px;
}
header .beExtraText p {
  color: #5f5f5f;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.6px;
}
header .beExtraText .searchBar {
  width: 585px;
  padding: 8px 10px 8px 25px;
  gap: 8px;
  border-radius: 100px;
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .beExtraText .searchBar h1 {
  color: #5f5f5f;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-bottom: 0;
}
header .beExtraText .searchBar .searchBtn {
  display: flex;
  width: 140px;
  height: 50px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 33px;
  background: #fff;
  box-shadow: 2px 2px 0px 0px rgba(69, 63, 63, 0.13) inset;
}
header .beExtraText .searchBar .searchBtn svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
header .beExtraText .searchBar .searchBtn h3 {
  color: #000;
  text-align: center;
  /* Button */
  font-family: Ubuntu;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 200% */
  letter-spacing: 2.1px;
  text-transform: uppercase;
  margin-bottom: 0;
}
header .scroll {
  grid-row: 6;
  grid-column-start: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .scroll svg {
  margin-right: 2%;
}
header .photoSlide {
  grid-row: 1/6;
}
header .photoSlide img {
  width: 600px;
  height: 900px;
  flex-shrink: 0;
}
header .photoControlls {
  margin-right: 30%;
  grid-row-start: 6;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
header .photoControlls .elipses {
  display: inline-flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
}
header .photoControlls .arrows {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1475px) {
  header {
    grid-template-rows: repeat(4, 1fr);
  }
  header .beExtraText {
    grid-row: 2;
  }
  header .beExtraText .searchBar {
    margin-top: 5%;
  }
  header .scroll {
    display: none;
  }
  header .photoSlide {
    grid-row: 1;
    display: flex;
  }
  header .photoControlls {
    position: absolute;
    left: 40%;
    top: 110%;
    display: flex;
    flex-direction: row;
  }
  header .photoControlls .arrows {
    display: none;
  }
}
.collections {
  background-color: black;
  padding-right: 14%;
  padding-bottom: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.collections .collectionCards {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.collections .collectionCard {
  height: 570px;
  width: 40vw;
  margin-left: 50px;
}
.collections .autumn {
  background: url(./Assets/Photos/Autumn.png);
}
@media screen and (max-width: 1475px) {
  .collections div.autumn img {
    background-position: -300px;
    background-repeat: no-repeat;
    background-size: auto 70%;
  }
}
.collections .classic {
  background: url(./Assets/Photos/Classic.png);
}
.collections .professional {
  background: url(./Assets/Photos/Professional.png);
}

.casualStyle {
  background-color: black;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
}
.casualStyle .casualStyleDesc {
  display: flex;
  justify-content: space-around;
}
.casualStyle .casualStyleDesc .casualStyleTitle h1 {
  color: #fff;
  text-align: center;
  font-family: Ubuntu;
  margin-bottom: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}
.casualStyle .casualStyleDesc .casualStyleTitle .casualStyleStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
.casualStyle .casualStyleDesc .casualStyleTitle .casualStyleStyle h2 {
  margin-bottom: 0;
  color: var(--Gray-Medium, #5f5f5f);
  text-align: center;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
}
.casualStyle .styleDesc {
  width: 60%;
  flex-shrink: 0;
}
.casualStyle .casualButton {
  padding: 50px 8% 50px 0;
  display: flex;
  justify-content: flex-end;
}
.casualStyle .casualButton button {
  border-radius: 33px;
  background: #1b1b1b;
  text-align: center;
  font-family: Ubuntu;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  padding: 8px 48px;
}
.casualStyle .productCards {
  padding: 20px 5% 100px;
}
.casualStyle .productCards .productCardBoots .newIn {
  background-image: url(./Assets/Photos/Boots.jpeg);
  width: 441px;
  height: 585px;
  background-size: contain;
  display: flex;
  align-items: end;
}
.casualStyle .productCards .productCardBoots .newIn h1 {
  padding: 12px 24px;
  margin-bottom: 50px;
  background: #423496;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardBoots .productDesc {
  background-color: black;
  width: 441px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.casualStyle .productCards .productCardBoots .productDesc .price h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardBoots .productDesc .price h2 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardBoots .productDesc .starsColor {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.casualStyle .productCards .productCardBoots .productDesc .starsColor .stars {
  height: 20px;
  display: flex;
  align-items: center;
}
.casualStyle .productCards .productCardBoots .productDesc .starsColor .stars h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 2px 5px 0;
}
.casualStyle .productCards .productCardBoots .productDesc .starsColor .colors .colorSvg {
  border-radius: 200px;
  border: 1px solid white;
}
.casualStyle .productCards .productCardTrousers .newIn {
  background-image: url(./Assets/Photos/Trousers.jpeg);
  width: 441px;
  height: 585px;
  background-size: contain;
  display: flex;
  align-items: end;
}
.casualStyle .productCards .productCardTrousers .newIn h1 {
  padding: 12px 24px;
  margin-bottom: 50px;
  background: #423496;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardTrousers .productDesc {
  background-color: black;
  width: 441px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.casualStyle .productCards .productCardTrousers .productDesc .price h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardTrousers .productDesc .price h2 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardTrousers .productDesc .starsColor {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.casualStyle .productCards .productCardTrousers .productDesc .starsColor .stars {
  height: 20px;
  display: flex;
  align-items: center;
}
.casualStyle .productCards .productCardTrousers .productDesc .starsColor .stars h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 2px 5px 0;
}
.casualStyle .productCards .productCardTrousers .productDesc .starsColor .colors .colorSvg {
  border-radius: 200px;
  border: 1px solid white;
}
.casualStyle .productCards .productCardTshirts .newIn {
  background-image: url(./Assets/Photos/Tshirts.jpeg);
  width: 441px;
  height: 585px;
  background-size: contain;
  display: flex;
  align-items: end;
}
.casualStyle .productCards .productCardTshirts .newIn h1 {
  padding: 12px 24px;
  margin-bottom: 50px;
  background: #423496;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardTshirts .productDesc {
  background-color: black;
  width: 441px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.casualStyle .productCards .productCardTshirts .productDesc .price h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardTshirts .productDesc .price .discount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.casualStyle .productCards .productCardTshirts .productDesc .price .discount h2 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  letter-spacing: 0.2px;
}
.casualStyle .productCards .productCardTshirts .productDesc .price .discount h3 {
  padding-left: 10px;
  color: #5f5f5f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  letter-spacing: 0.2px;
  text-decoration: line-through;
}
.casualStyle .productCards .productCardTshirts .productDesc .starsColor {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.casualStyle .productCards .productCardTshirts .productDesc .starsColor .stars {
  height: 20px;
  display: flex;
  align-items: center;
}
.casualStyle .productCards .productCardTshirts .productDesc .starsColor .stars h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 2px 5px 0;
}
.casualStyle .productCards .productCardTshirts .productDesc .starsColor .colors svg {
  border-radius: 200px;
  border: 1px solid white;
}

.autumnOffers {
  background-color: black;
}
.professionalStyle {
  background-color: black;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
}
.professionalStyle .casualStyleDesc {
  display: flex;
  justify-content: space-around;
}
.professionalStyle .casualStyleDesc .casualStyleTitle h1 {
  color: #fff;
  text-align: center;
  font-family: Ubuntu;
  margin-bottom: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}
.professionalStyle .casualStyleDesc .casualStyleTitle .casualStyleStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
.professionalStyle .casualStyleDesc .casualStyleTitle .casualStyleStyle h2 {
  margin-bottom: 0;
  color: var(--Gray-Medium, #5f5f5f);
  text-align: center;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
}
.professionalStyle .styleDesc {
  width: 60%;
  flex-shrink: 0;
}
.professionalStyle .casualButton {
  padding: 50px 8% 50px 0;
  display: flex;
  justify-content: flex-end;
}
.professionalStyle .casualButton button {
  border-radius: 33px;
  background: #1b1b1b;
  text-align: center;
  font-family: Ubuntu;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  padding: 8px 48px;
}
.professionalStyle .productCards {
  padding: 20px 5% 100px;
}
.professionalStyle .productCards .productCardBoots .newIn {
  background-image: url(./Assets/Photos/Varlyte.png);
  width: 441px;
  height: 585px;
  background-size: contain;
  display: flex;
  align-items: end;
}
.professionalStyle .productCards .productCardBoots .newIn h1 {
  padding: 12px 24px;
  margin-bottom: 50px;
  background: #423496;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardBoots .productDesc {
  background-color: black;
  width: 441px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.professionalStyle .productCards .productCardBoots .productDesc .price h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardBoots .productDesc .price .discount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.professionalStyle .productCards .productCardBoots .productDesc .price .discount h2 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardBoots .productDesc .price .discount h3 {
  padding-left: 10px;
  color: #5f5f5f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  letter-spacing: 0.2px;
  text-decoration: line-through;
}
.professionalStyle .productCards .productCardBoots .productDesc .starsColor {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.professionalStyle .productCards .productCardBoots .productDesc .starsColor .stars {
  height: 20px;
  display: flex;
  align-items: center;
}
.professionalStyle .productCards .productCardBoots .productDesc .starsColor .stars h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 2px 5px 0;
}
.professionalStyle .productCards .productCardBoots .productDesc .starsColor .colors .colorSvg {
  border-radius: 200px;
  border: 1px solid white;
}
.professionalStyle .productCards .productCardTrousers .newIn {
  background-image: url(./Assets/Photos/Outfit.png);
  width: 441px;
  height: 585px;
  background-size: contain;
  display: flex;
  align-items: end;
}
.professionalStyle .productCards .productCardTrousers .newIn h1 {
  padding: 12px 24px;
  margin-bottom: 50px;
  background: #423496;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardTrousers .productDesc {
  background-color: black;
  width: 441px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.professionalStyle .productCards .productCardTrousers .productDesc .price h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardTrousers .productDesc .price h2 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardTrousers .productDesc .starsColor {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.professionalStyle .productCards .productCardTrousers .productDesc .starsColor .stars {
  height: 20px;
  display: flex;
  align-items: center;
}
.professionalStyle .productCards .productCardTrousers .productDesc .starsColor .stars h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 2px 5px 0;
}
.professionalStyle .productCards .productCardTrousers .productDesc .starsColor .colors .colorSvg {
  border-radius: 200px;
  border: 1px solid white;
}
.professionalStyle .productCards .productCardTshirts .newIn {
  background-image: url(./Assets/Photos/Suit.png);
  width: 441px;
  height: 585px;
  background-size: contain;
  display: flex;
  align-items: end;
}
.professionalStyle .productCards .productCardTshirts .newIn h1 {
  padding: 12px 24px;
  margin-bottom: 50px;
  background: #423496;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardTshirts .productDesc {
  background-color: black;
  width: 441px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.professionalStyle .productCards .productCardTshirts .productDesc .price h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardTshirts .productDesc .price .discount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.professionalStyle .productCards .productCardTshirts .productDesc .price .discount h2 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  letter-spacing: 0.2px;
}
.professionalStyle .productCards .productCardTshirts .productDesc .price .discount h3 {
  padding-left: 10px;
  color: #5f5f5f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  letter-spacing: 0.2px;
  text-decoration: line-through;
}
.professionalStyle .productCards .productCardTshirts .productDesc .starsColor {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.professionalStyle .productCards .productCardTshirts .productDesc .starsColor .stars {
  height: 20px;
  display: flex;
  align-items: center;
}
.professionalStyle .productCards .productCardTshirts .productDesc .starsColor .stars h1 {
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 2px 5px 0;
}
.professionalStyle .productCards .productCardTshirts .productDesc .starsColor .colors svg {
  border-radius: 200px;
  border: 1px solid white;
}/*# sourceMappingURL=Style.css.map */