// link other scss files
@import "./Styles/commonStyles";

// nav bar styles
nav {
  background-color: black;
  padding: 20px 250px;
  display: flex;
  align-items: center;
  // sandwich only appears when screen is 1475px size
  .sandwich {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
  @media screen and (min-width: 1475px) {
    div.sandwich {
      display: none;
    }
  }

  .shopCategories {
    width: 650px;
    display: flex;
    align-items: center;

    h2 {
      margin: 10px;
      color: #fff;
      text-align: center;
      font-family: Ubuntu;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 20px */
      letter-spacing: -0.5px;
    }

    svg {
      margin-right: 2%;
    }
  }
  // categories colapse when screen is less than 1475px
  @media screen and (max-width: 1475px) {
    div.shopCategories {
      display: none;
    }
    svg.heart {
      display: none;
    }

    padding: 20px 30px;
  }

  .userNav {
    // width: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // icons made with svg, theyr style here
    .icons {
      margin-right: 24px;
      .shoppingCart {
        p {
          color: #fff;
          text-align: center;
          font-family: Ubuntu;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 10px */
          letter-spacing: -0.25px;
        }
      }
      svg {
        width: 30px;
        height: 30px;
        margin: 12px;
      }
    }
    .userProf {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        background-size: contain;
        border-radius: 100%;
        border: 1px solid #cdcdcd;
        margin-right: 12px;
        //   background: url(<path-to-image>),
        // lightgray 0px -8.213px / 100% 151.333% no-repeat;
      }
      .userDetails {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3 {
          color: #fff;
          //   text-align: center;
          font-family: Ubuntu;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 16px */
          letter-spacing: -0.4px;
        }
        h4 {
          color: #5f5f5f;
          //   text-align: center;
          font-family: Ubuntu;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 16px */
          letter-spacing: -0.4px;
        }
      }
      // when screen size is 1475px user details colapse
      @media screen and (max-width: 1475px) {
        div.userDetails {
          display: none;
        }
      }
    }
  }
}

//header styles
header {
  background-color: black;
  padding: 0 0 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  flex-wrap: wrap;

  .beExtraText {
    width: 676px;
    height: 104px;
    grid-column-start: 1;
    grid-row: 3/6;

    h1 {
      color: #5f5f5f;
      font-family: Ubuntu;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 36px */
      letter-spacing: -0.9px;
    }

    h2 {
      color: #fff;
      font-family: Ubuntu;
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 72px */
      letter-spacing: -1.8px;
    }

    p {
      color: #5f5f5f;
      font-family: Ubuntu;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
      letter-spacing: -0.6px;
    }

    .searchBar {
      width: 585px;
      padding: 8px 10px 8px 25px;
      gap: 8px;
      border-radius: 100px;
      background: #161616;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        color: #5f5f5f;
        font-family: Ubuntu;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        margin-bottom: 0;
      }

      .searchBtn {
        display: flex;
        width: 140px;
        height: 50px;
        padding: 8px 32px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 33px;
        background: #fff;
        box-shadow: 2px 2px 0px 0px rgba(69, 63, 63, 0.13) inset;

        svg {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
        }

        h3 {
          color: #000;
          text-align: center;

          /* Button */
          font-family: Ubuntu;
          font-size: 10px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px; /* 200% */
          letter-spacing: 2.1px;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
    }
  }

  .scroll {
    grid-row: 6;
    grid-column-start: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin-right: 2%;
    }
  }

  .photoSlide {
    // grid-column-start: 2;
    grid-row: 1/ 6;

    img {
      width: 600px;
      height: 900px;
      flex-shrink: 0;
    }
  }

  .photoControlls {
    margin-right: 30%;
    grid-row-start: 6;
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    .elipses {
      display: inline-flex;
      padding: 8px;
      align-items: center;
      gap: 8px;
    }

    .arrows {
      display: flex;
      flex-direction: row;
    }
  }
}

//header and header elements resizing when window is small
@media screen and (max-width: 1475px) {
  header {
    grid-template-rows: repeat(4, 1fr);

    .beExtraText {
      grid-row: 2;

      .searchBar {
        margin-top: 5%;
      }
    }

    .scroll {
      display: none;
    }

    .photoSlide {
      grid-row: 1;
      display: flex;
    }

    .photoControlls {
      position: absolute;
      left: 40%;
      top: 110%;
      display: flex;
      flex-direction: row;

      .arrows {
        display: none;
      }
    }
  }
}

//collections carousel styles
.collections {
  background-color: black;
  padding-right: 14%;
  padding-bottom: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  .collectionCards {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .collectionCard {
    height: 570px;
    // height: 50vh;
    // width: 450px;
    width: 40vw;
    margin-left: 50px;
  }

  .autumn {
    background: url(./Assets/Photos/Autumn.png);
  }

  @media screen and (max-width: 1475px) {
    div.autumn img {
      background-position: -300px;
      background-repeat: no-repeat;
      background-size: auto 70%;
    }
  }

  .classic {
    background: url(./Assets/Photos/Classic.png);
  }

  .professional {
    background: url(./Assets/Photos/Professional.png);
  }
}

//casual style div styles
.casualStyle {
  background-color: black;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  .casualStyleDesc {
    display: flex;
    justify-content: space-around;
    .casualStyleTitle {
      h1 {
        color: #fff;
        text-align: center;
        font-family: Ubuntu;
        margin-bottom: 0;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 100% */
      }
      .casualStyleStyle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        h2 {
          margin-bottom: 0;
          color: var(--Gray-Medium, #5f5f5f);
          text-align: center;
          font-family: Ubuntu;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 40px */
        }
      }
    }
  }

  .styleDesc {
    width: 60%;
    flex-shrink: 0;
  }

  .casualButton {
    padding: 50px 8% 50px 0;
    display: flex;
    justify-content: flex-end;
    button {
      border-radius: 33px;
      background: #1b1b1b;
      text-align: center;
      font-family: Ubuntu;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 2.1px;
      text-transform: uppercase;
      padding: 8px 48px;
    }
  }

  .productCards {
    padding: 20px 5% 100px;
    .productCardBoots {
      .newIn {
        background-image: url(./Assets/Photos/Boots.jpeg);
        width: 441px;
        height: 585px;
        background-size: contain;
        display: flex;
        align-items: end;
        h1 {
          padding: 12px 24px;
          margin-bottom: 50px;
          background: #423496;
          font-family: Ubuntu;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .productDesc {
        background-color: black;
        width: 441px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          h1 {
            color: #fff;
            font-family: Ubuntu;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.2px;
          }
          h2 {
            color: #fff;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Ubuntu;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 83.333% */
            letter-spacing: 0.2px;
          }
        }
        .starsColor {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          .stars {
            height: 20px;
            display: flex;
            align-items: center;
            h1 {
              color: #fff;
              font-family: Ubuntu;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0.2px;
              margin: 2px 5px 0;
            }
          }
          .colors {
            .colorSvg {
              border-radius: 200px;
              border: 1px solid white;
            }
          }
        }
      }
    }
    .productCardTrousers {
      .newIn {
        background-image: url(./Assets/Photos/Trousers.jpeg);
        width: 441px;
        height: 585px;
        background-size: contain;
        display: flex;
        align-items: end;
        h1 {
          padding: 12px 24px;
          margin-bottom: 50px;
          background: #423496;
          font-family: Ubuntu;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .productDesc {
        background-color: black;
        width: 441px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          h1 {
            color: #fff;
            font-family: Ubuntu;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.2px;
          }
          h2 {
            color: #fff;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Ubuntu;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 83.333% */
            letter-spacing: 0.2px;
          }
        }
        .starsColor {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          .stars {
            height: 20px;
            display: flex;
            align-items: center;
            h1 {
              color: #fff;
              font-family: Ubuntu;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0.2px;
              margin: 2px 5px 0;
            }
          }
          .colors {
            .colorSvg {
              border-radius: 200px;
              border: 1px solid white;
            }
          }
        }
      }
    }
    .productCardTshirts {
      .newIn {
        background-image: url(./Assets/Photos/Tshirts.jpeg);
        width: 441px;
        height: 585px;
        background-size: contain;
        display: flex;
        align-items: end;
        h1 {
          padding: 12px 24px;
          margin-bottom: 50px;
          background: #423496;
          font-family: Ubuntu;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .productDesc {
        background-color: black;
        width: 441px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          h1 {
            color: #fff;
            font-family: Ubuntu;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.2px;
          }
          .discount {
            display: flex;
            flex-direction: row;
            align-items: center;
            h2 {
              color: #fff;
              font-feature-settings: "clig" off, "liga" off;
              font-family: Ubuntu;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px; /* 83.333% */
              letter-spacing: 0.2px;
            }
            h3 {
              padding-left: 10px;
              color: #5f5f5f;
              font-feature-settings: "clig" off, "liga" off;
              font-family: Ubuntu;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px; /* 100% */
              letter-spacing: 0.2px;
              text-decoration: line-through;
            }
          }
        }
        .starsColor {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          .stars {
            height: 20px;
            display: flex;
            align-items: center;
            h1 {
              color: #fff;
              font-family: Ubuntu;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0.2px;
              margin: 2px 5px 0;
            }
          }
          .colors {
            //border should be applied only to the first color of the pallete
            svg {
              border-radius: 200px;
              border: 1px solid white;
            }
          }
        }
      }
    }
  }
}

//autumn offers div styles
.autumnOffers {
  background-color: black;
  .offerText {
  }
  .saleImg {
  }
}
